<!DOCTYPE html>
<html>
<head>
<style>
.bordered {
  width: 1100px;
  height: 100px;
  padding: 10px;
  border: 10px solid green;
}
h1 {
        color: ##1D6215;
}
</style>
</head>

<body>
  <center><div class="bordered">
    <center><h1 style="font-family:comic sans ms;"><u>Camping Equipment Rentals</u></h1></center>
</div></center>

</body>
</html>
