<!DOCTYPE html>
<html>

<head>
  {{> title pageTitle="CER: Bad Request"}}
  <title>Bad Request</title>

</head>

<body bgcolor="#1D6215">
  {{>header logoutLink=true}}

  <center>
    <h1>Bad Request</h1>
  </center>
  <center>
    <p>The operation request is not defined.</p>
  </center>
  <p>{{err}}</p>

  <hr />
  <center><a href="/">Return to Application</a></center>
</body>

</html>
